<div class="container-parada p-2 bg-light rounded d-flex justify-content-between align-items-start w-100 fs-6">

  <!-- ZONA QUE ABRE EL MODAL -->
  <div class="flex-grow-1" style="cursor: pointer" (click)="abrirModalParada(parada.id)">
    <div>{{ parada.id }} - {{ parada.nombre }}</div>
    <div>
      <span *ngFor="let enlace of parada.enlaces" class="badge me-1"
        [style.backgroundColor]="'#' + getColorLineaById(enlace)">
        {{ getCodigoLinea(enlace) }}
      </span>
    </div>
  </div>

  <div>
    <button type="button" class="btn btn-outline-warning btn-lg" [title]="'Ver mapa'" (click)="abrirEnGoogleMaps()">
      <i class="bi-geo"></i>
    </button>
  </div>

  <!-- BOTÓN DE FAVORITOS -->
  <div>
    <button type="button" class="btn btn-outline-warning btn-lg"
      [title]="esFavorito ? 'Eliminar de favoritos' : 'Añadir a favoritos'" (click)="toggleFavorito(parada)">
      <i class="bi" [ngClass]="esFavorito ? 'bi-star-fill' : 'bi-star'"></i>
    </button>
  </div>
</div>


<!-- Modal manual -->
<div class="modal-backdrop" *ngIf="modalAbierto">
  <div class="modal-content">
    <div class="modal-header">
      <h5 *ngIf="paradaInfo?.parada !== undefined">
        {{ paradaInfo.parada }} - {{ getNombreParadaById(paradaInfo.parada) }}
      </h5>
      <button type="button" class="btn-close close-boton" aria-label="Close" (click)="cerrarModal()">×</button>
    </div>
    <div class="modal-body">
      <div *ngFor="let linea of paradaInfo?.lineas; let i = index" class="linea-container">
        <div class="linea-header" (click)="linea.buses.length > 1 && toggleLinea(i)"
          [style.cursor]="linea.buses.length > 1 ? 'pointer' : 'default'"
          [style.backgroundColor]="'#' + getColorLineaById(linea.linea)">
          <div><strong>Línea {{ getCodigoLinea(linea.linea) }}</strong></div>
          <div class="info-bus">
            {{ linea.buses[0].tiempo === '0' ? 'En parada' : linea.buses[0].distancia + ' mts : ' +
            linea.buses[0].tiempo + ' minutos' }}
          </div>
          <div class="icono-toggle">
            <i class="bi bi-chevron-right" *ngIf="linea.buses.length > 1"
              [style.transform]="isLineaExpandida(i) ? 'rotate(90deg)' : 'rotate(0deg)'"></i>
            <i *ngIf="linea.buses.length <= 1" style="opacity: 0;">&nbsp;</i>
          </div>
        </div>
        <div *ngIf="linea.buses.length > 1 && isLineaExpandida(i)" class="linea-expandida">
          <div *ngFor="let bus of linea.buses.slice(1)" class="bus-extra">
            <div><i class="bi bi-bus-front"></i> {{ bus.tiempo === '0' ? 'En parada' : bus.distancia + ' mts' }}</div>
            <div><i class="bi bi-clock"></i> a {{ bus.tiempo }} minutos</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>