.container-central {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  overflow-y: auto;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

.container-central::-webkit-scrollbar {
  display: none;
}

