<div class="container-central">
  <div class="scroll-lineas">
    <div class="grid-lineas">
      <div
        *ngFor="let linea of lineas"
        class="linea-card"
        (click)="irAParadas(linea)"
        [style.backgroundColor]="'#' + linea.color"
      >
        <div class="linea-codigo">{{ linea.lin_comer }}</div>
        <div class="linea-nombres">
          <div>{{ linea.nombre_orig }} → {{ linea.nombre_dest }} </div>
        </div>
      </div>
    </div>
  </div>
</div>
