.container-central {
  width: 100%;
  height: 75vh;
  max-width: 1500px;  /* Máximo ancho para no crecer mucho en pantallas grandes */
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 1rem;
  overflow-x: hidden;
}

.scroll-lineas {
  flex: 1;
  overflow-y: auto;
  padding: 0 1rem;  /* Padding lateral para que no pegue */
  scroll-behavior: smooth;

  padding: 0; 
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
}

.grid-lineas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

@media (max-width: 600px) {
  .grid-lineas {
    grid-template-columns: 1fr;
  }
  
  .linea-nombres {
    flex-direction: column !important;
    width: 100% !important;
    align-items: center !important;
    text-align: center !important;
    padding-right: 1.5rem !important;
  }

  .nombre-separador {
    display: none !important;
  }

}

.linea-card {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
  height: 65px;
  min-height: 60px;
  border-radius: 12px;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  transition: background 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    background: linear-gradient(90deg, rgba(172, 25, 25, 0.15), rgba(255,255,255,0));
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  }
}

.linea-codigo {
  font-size: 1rem;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0.6rem 1.2rem;
  border-radius: 30px;
  text-align: center;
  user-select: none;
}

.linea-nombres {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;     /* mantiene las cosas en fila por defecto */
  font-size: 1rem;
  font-weight: 600;
  color: #f0f0f0;
  gap: 0.3rem;
  align-items: center;     /* alinea verticalmente los elementos (por ejemplo la flecha y los textos) */
  justify-content: center; /* centra horizontalmente el contenido */
  word-break: break-word;
  overflow-wrap: break-word;
  
}

.nombre-separador {
  display: inline;
}

.linea-nombres div {
  line-height: 1.2;
}

.nombre-origen {
  font-size: 1rem;
  
}

.nombre-destino {
  font-size: 1rem;
}
