<div>
  <div class="btn-group w-100" role="group">
    <div
      type="button"
      class="btn btn-outline-primary"
      [class.activo]="ruta === 'ida'"
      (click)="ruta = 'ida'"
    >
      Ida
    </div>
    <div
      type="button"
      class="btn btn-outline-primary"
      [class.activo]="ruta === 'vuelta'"
      (click)="ruta = 'vuelta'"
    >
      Vuelta
    </div>
  </div>

  <div *ngIf="ruta === 'ida'">
    <div role="group">
      {{ selectedLinea.lin_comer }} {{ selectedLinea.nombre_orig }} -
      {{ selectedLinea.nombre_dest }}
    </div>
    <table class="table table-striped table-bordered mt-3">
      <tbody>
        <tr
          *ngFor="let parada of paradasIda"
          (click)="abrirModalParada(parada.id)"
          style="cursor: pointer"
        >
          <td>
            <app-parada [parada]="parada" />
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="ruta === 'vuelta'">
    <div role="group">
      {{ selectedLinea.lin_comer }} {{ selectedLinea.nombre_dest }} -
      {{ selectedLinea.nombre_orig }}
    </div>
    <table class="table table-striped table-bordered mt-3">
      <tbody>
        <tr
          *ngFor="let parada of paradasVuelta"
          (click)="abrirModalParada(parada.id)"
          style="cursor: pointer"
        >
          <td>
            <app-parada [parada]="parada" />
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Incluye el componente modal -->
  <app-parada-modal [paradaInfo]="paradaInfo"></app-parada-modal>
</div>
