<div class="modal fade" id="miModal" tabindex="-1" aria-labelledby="miModalLabel">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="miModalLabel">
          <p *ngIf="paradaInfo">{{ paradaInfo.parada }} - {{getNombreParadaById(paradaInfo.parada)}}</p>
        </h5>
        <button type="button" class="btn-close close-boton" aria-label="Close" (click)="cerrarModal()"></button>
      </div>
      <div class="modal-body">
        <div *ngFor="let linea of paradaInfo?.lineas; let i = index" class="linea-container">

          <!-- Fila principal -->
          <div class="linea-header" (click)="linea.buses.length > 1 && toggleLinea(i)"
            [style.cursor]="linea.buses.length > 1 ? 'pointer' : 'default'"
            [style.backgroundColor]=" '#' + getColorLineaById(linea.linea)">
            <div><strong>Línea {{this.getCodigoLinea(linea.linea)}}</strong></div>
            <div class="info-bus">
              {{ linea.buses[0].tiempo === '0' ? 'En parada' : linea.buses[0].distancia + ' mts : ' +
              linea.buses[0].tiempo + ' minutos' }}

            </div>
            <div class="icono-toggle">
              <i class="bi bi-chevron-right" *ngIf="linea.buses.length > 1"
                [style.transform]="isLineaExpandida(i) ? 'rotate(90deg)' : 'rotate(0deg)'"></i>
              <i *ngIf="linea.buses.length <= 1" style="opacity: 0;">&nbsp;</i>
            </div>
          </div>

          <!-- Contenido expandible -->
          <div *ngIf="linea.buses.length > 1" [@expandCollapse]="isLineaExpandida(i) ? 'expanded' : 'collapsed'"
            class="linea-expandida">
            <div *ngFor="let bus of linea.buses.slice(1)" class="bus-extra">
              <div><i class="bi bi-bus-front"></i> {{ bus.tiempo === '0' ? 'En parada' : bus.distancia + ' mts' }}</div>
              <div><i class="bi bi-clock"></i> a {{ bus.tiempo }} minutos</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>