<div class="container-fluid fondo-rojo-degradado d-flex align-items-center justify-content-between px-3 py-2">
  
  <button
    type="button"
    (click)="irALineas()"
    class="btn btn-sin-borde d-flex align-items-center gap-2"
  >
    <i class="bi bi-signpost-split-fill"></i>
  </button>

  <div class="reloj-digital mx-auto">
    {{ horaActual }}
  </div>

  <button
    class="btn btn-sin-borde d-flex align-items-center"
    type="button"
    (click)="toggleMenu()"
  >
    <i class="bi bi-list fs-3"></i>
  </button>

</div>

